<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OnePieceTCG_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <connectionStrings>
	    <add name="SQLServerConnection"
       connectionString="Data Source=192.168.1.88,1433;Initial Catalog=OnePieceTCG_Manager;User ID=sa;Password=nucmK85KgRJVs6BN;Encrypt=False;TrustServerCertificate=True;"
       providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <OnePieceTCG_Manager.Properties.Settings>
            <setting name="db_api" serializeAs="String">
                <value>http://localhost:5100</value>
            </setting>
            <setting name="card_api" serializeAs="String">
                <value>https://optcgapi.aquero.es</value>
            </setting>
        </OnePieceTCG_Manager.Properties.Settings>
    </applicationSettings>
</configuration>