<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OnePieceTCG_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <OnePieceTCG_Manager.Properties.Settings>
      <setting name="db_api" serializeAs="String">
        <value>https://optcgapi-db.aquero.es</value>
      </setting>
      <setting name="card_api" serializeAs="String">
        <value>https://optcgapi.aquero.es</value>
      </setting>
      <setting name="update_manifest_url" serializeAs="String">
        <value>https://raw.githubusercontent.com/QueroXD/OnePieceTCG-Manager/main/update/version.json</value>
      </setting>
    </OnePieceTCG_Manager.Properties.Settings>
  </applicationSettings>
</configuration>
